.We {
    margin: auto;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
}

.We .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
img{
    width: 100%;
    height: 93%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.We h2 {
    font-size: 3rem;
}

.We .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.We .col-2 p:first-of-type {
    margin: 3rem 0;
}

.We .col-2 p:nth-child(4) {
    font-size: 1.8rem; 
    font-style: italic;
    font-weight: 800;
}



@media screen and (max-width:940px) {
    .We .container {
        grid-template-columns: 1fr;
    }

    .We .container {
        width: 100%;
    }

     .We .container img {
        padding: 0rem;
        width: 90vw;
    }

    .We .container .col-2 {
        padding: 0;
    }

    
}

